{% extends 'butter/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class = "container pt-5 pb-5">
	<form action = "" method = "POST" class = "add-proj">
		{% csrf_token %}

		<h3>Add Project</h3>
		<hr>

		{{ form|crispy }}

		<label for= "categoryInput">Expense Categories (hit enter after every category):</label>
		
		<input type = "text" name = "categoryInput" id = "categoryInput">
		<input type="hidden" name="categoriesString">

		<ul id="categoriesContainer">
	
		</ul>

		<div class = "pb-3">
			<small class="text-muted">
	            Suggested categories: housing, groceries, dining, insurance, transportation, entertainment, shopping, miscellaneous, subscriptions and savings. 
	        </small>
    	</div>

		<button type = "submit" class = "btn btn-outline-warning">
			Start Project
		</button>
	</form>   
</div>

<script src = "{% static 'js/script.js' %}"></script>

{% endblock %}