{% extends 'butter/base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<style>
  body {
    background-image: url("../static/img/butter-sliced.jpg");

  	/* Full height */
    height: 100%;

    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow-y:hidden;

  }

  h1 {
    font-family: 'Gugi', cursive;
    font-size: 55px;
    color: black;
  }

  div {
    text-align: center;
  }

  .underline {
    text-decoration: underline;
  }

  .homepage-btn-1 {

    position:absolute;
    top: 50%;
    left: 40%;
    display: block;
    width: 20%;
    border: strong;
    background-color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
/*    box-shadow: 20px 20px 50px;
*/  }

  .homepage-btn-2 {

    position:absolute;
    top: 60%;
    left: 40%;
    display: block;
    width: 20%;
    border: strong;
    background-color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }

</style>



<body>


<div class="container min-vh-100">

    <div class = "pt-5 pb-5 h-100 justify-content-center align-items-center">

        <h1 style = "display: inline-block;"><span style = "color: gold;">BUTTER</span>: <span class = "underline">bu</span>dget be<span class = "underline">tter</span>.</h1>

        {% if not user.is_authenticated %}

          <button type="button" name="button" class="btn btn-dark homepage-btn-1" >

              Log In

          </button>

          <button type="button" name="button" class="btn btn-dark homepage-btn-2" >

              Sign Up

          </button>

          {% endif %}

    </div>
</div>

</body>

{% endblock content %}
