{% extends 'butter/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class = "container pt-5 pb-5">

	<section class = "welcome">
		<div>
			<h3 class = "p-3 muted-text" style = "display:inline-block;">{{ project.month }}</h3>
			<a href = "#" role = "button" class = "btn bg-danger float-right ml-auto" data-toggle = "modal" data-target = "#deleteConfirmation">
				Delete This Budget
			</a>
		</div>
	</section>

	<section class = "section section-stats">
		<div class = "row">

			<div class = "col s12 m12 l4 card shadow-sm p-3 mb-5 bg-white rounded">
				<div class = "card-body">
					<h6 class = "card-title">Total Budget</h6>

					<h1 class = "bold card-text">${{ project.budget }}</h1>
				</div>
			</div>

			<div class = "col s12 m6 l4 card shadow-sm p-3 mb-5 bg-white rounded">
				<div class = "card-body">
					<h6 class = "card-title">Budget Left</h6>

					{% if project.budget_left > 0 %}
						<h1 class = "bold text-success card-text">${{ project.budget_left }}</h1>
					{% elif project.budget_left == 0 %}
						<h1 class = "bold text-warning card-text">${{ project.budget_left }}</h1>
					{% else %}
						<h1 class = "bold text-danger card-text">${{ project.budget_left }}</h1>
					{% endif %}

				</div>
			</div>

			<div class = "col s12 m6 l4 card shadow-sm p-3 mb-5 bg-white rounded">
				<div class = "card-body">
					<h6 class = "card-title">Total Transactions</h6>

					<h1 class = "bold card-text">{{ project.total_transactions }}</h1>
				</div>
			</div>
		</div>

	</section>

	<section class = "section section-expenses">
		<div class = "row">
			<button class = "btn bg-warning float-right ml-auto" type="button" data-toggle="modal" data-target="#expenseModal">
				<i class = "material-icons white-text float-left">add_circle</i>
				&nbsp; Add a Transaction
			</button>

		</div>

		<ul class = "list-group">

			{% for expense in expense_list %}

				<li class = "list-group-item">
				<div class = "z-depth-0 expense">
					<div class = "row">
						<div class = "col l6">
							<span class = "title">{{ expense.title }}</span>
						</div>
						<div class = "col l3">
							<span class = "title">{{ expense.amount }}</span>
						</div>
						<div class = "col l">
							<span class = "title bold">{{ expense.category.name }}</span>
						</div>

						<a class = "close-icon" onclick = "deleteExpense(this)" data-id = "{{ expense.id }}">
							<i class = "material-icons text-danger right">close</i>
						</a>
					</div>
				</div>
			</li>

			{% endfor %}

		</ul>
	</section>

</div>

<div id = "expenseModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Transaction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<form action ="" method= "POST">
			{% csrf_token %}
			<label for = "title">Title</label>
			<input name = "title" id="title">

			<label for = "amount">Amount</label>
			<input name = "amount" id="amount">

			<select name = "category">
				{% for category in category_list %}
					<option>{{ category.name }}</option>
				{% endfor %}
			</select>

			<button type="submit" class="btn btn-primary">Save Changes</button>
		</form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div id = "deleteConfirmation" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<p>Are you sure you want to delete this budget?</p>
      </div>
      <div class="modal-footer">
      	<a class = "btn btn-danger" onclick = "deleteBudget(this)" role = "button" href = "/delete/{{ project.id }}">Yes</a>
      </div>
    </div>
  </div>
</div>

<script>
	var elem = document.querySelector(".modal")
	var instance = M.Modal.init(elem)

	var elem = document.querySelector("select")
	var instance = M.FormSelect.init(elem)

	function deleteExpense(e) {
		let id = e.dataset.id
		e.closest('li').remove()

		fetch('', {
			method: 'DELETE',
			headers: {
				'X-CSRFToken': '{{ csrf_token }}'
			},
			body: JSON.stringify({
				'id': id
			}),
			credentials: 'same-origin',
		})
	}
	
</script>

{% endblock %}


