{% extends 'butter/base.html' %}

{% block content %}

<div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>

<div class = "container pt-5 pb-5">

	<p>Welcome to your dashboard, <span class = "font-weight-bold">{{ user.username }}</span>!</p>

	<div class = "monthly">
		<h1 style = "display: inline-block;">Your Monthly Budgets</h1>
		<a href = "{% url 'add' %}" role = "button" class = "btn bg-warning float-right ml-auto">
			<i class = "material-icons white-text float-left">add_circle</i>
			&nbsp;Add New
		</a>
	</div>
	<hr>

	<div class="row">

	{% for project in user.project.all %}

		<div class="col s12 l3">
			<div>
				<h5>{{ project.month }}</h5>
				<a href = "{% url 'detail' project.slug %}" class = "btn btn-outline-warning">View</a>
			</div>

		</div>

	{% empty %}

		<p class = "text-muted">Sorry, you have not created any monthly budgets yet. Please click the 'Add New' button above to create a new budget!</p>
		
	{% endfor %}

	</div>
</div>

<script>
	$(window).on("load", function() {
		$(".spinner").fadeOut("slow");
	})
</script>

{% endblock %}
