{% extends 'butter/base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container min-vh-100">
    <div class = "pt-5 pb-5 h-100 justify-content-center align-items-center">
    	<h4 style = "font-family: 'Gugi', cursive;">LOG IN</h4>
    	<hr>
        <form method="POST">
            {% csrf_token %}
    		<fieldset class="form-group">
    	 		{{ form|crispy }}
    		
    			<div class="form-group">
        			<button class="btn bg-warning" type="submit">Take Me to Butter!</button>
    			</div>
            </fieldset>
    	  	<div class="border-top">
            	<small class="text-muted">
                	Need an account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            	</small>
        	</div>
        </form>
    </div>
</div>
         
{% endblock content %}
