{% extends 'butter/base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container min-vh-100">
    <div class = "pt-5 pb-5 h-100 justify-content-center align-items-center">
        <form method="POST">
            {% csrf_token %}
    		<fieldset class="form-group">
                <legend class = "border-bottom mb-4">Reset Password</legend>
    	 		{{ form|crispy }}
    		
    			<div class="form-group">
        			<button class="btn btn-outline-warning" type="submit">Reset Password</button>
    			</div>
            </fieldset>
        </form>
    </div>
</div>
         
{% endblock content %}