{% extends 'butter/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <aside class="col-2 px-0 fixed-top" id="left">

            <div class="list-group w-100 bg-warning min-vh-100">
            </div>

        </aside>
        <main class="col-10 invisible">
            <!--hidden spacer-->
        </main>
        <main class="col offset-2 h-100">
            <div class="row bg-white">
                <div class="col-12 py-4">
                	<h4>Sign Up</h4>
                	<hr>
                    <form method="POST">
				
        		{% csrf_token %}
        			<fieldset class="form-group">
				 		{{ form|crispy }}
        			
        			<div class="form-group">
            			<button class="btn btn-outline-info" type="submit">Take Me to Butter!</button>
        			</div>
        		</fieldset>
        			<div class="border-top">
		            	<small class="text-muted">
		                	Already Have An Account? <a class="ml-2" href="#">Sign In</a>
		            	</small>
		        	</div>
    			</form>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock content %}